
<div class="row">
    <div class="container">
      <div class="logo">
        <img src="../assets/imagenes/logo.png" alt="logo" width="190" height="67" id="logo">
      </div>
      <div class="menu">
        <a href="https://www.linkedin.com/in/gisela-frascino-296688153/" class="menu-item nav-link"><img src="../assets/imagenes/linkedin (1).png" alt="logo-linkedin" width="45" height="45" class="redes"></a>
        <a href="https://m.facebook.com/gisefrascino" class="menu-item nav-link"><img src="../assets/imagenes/facebook.webp" alt="logo-facebook" width="45" height="45" class="redes"></a>
        <a href="https://api.whatsapp.com/send?phone=543513460356" class="menu-item nav-link"><img src="../assets/imagenes/whatsapp.png" alt="logo-whatsapp" width="45" height="45" class="redes"></a>
        <a href="https://www.instagram.com/giselafrascino/" class="menu-item nav-link"><img src="../assets/imagenes/instagram.png" alt="logo-instagram" width="45" height="45" class="redes"></a>
        <button type="button" class="menu-item nav-link" id="login" (click)="login()" *ngIf="!isLogged">LOGIN</button>
        <button type="button" class="menu-item nav-link" id="logout" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
      </div>
    </div>
</div>