
<div class="row">
    <div class="container">
      <div class="logo">
        <img src="../../../assets/Imagenes/logo.png" alt="logo" width="190" height="67" id="logo">
        <span>#YO PROGRAMO</span>
      </div>
      <div class="menu">
        <a href="https://www.facebook.com/profile.php?id=100008694196218&mibextid=ZbWKwL" class="menu-item nav-link"><img src="../../../assets/Imagenes/facebook.webp" alt="logo-facebook" width="45" height="45" class="redes"></a>
        <a href="https://www.instagram.com/verorop78.1978/?igshid=ZGUzMzM3NWJiOQ%3D%3D" class="menu-item nav-link"><img src="../../../assets/Imagenes/instagram.png" alt="logo-instagram" width="45" height="45" class="redes"></a>
        <a href="https://api.whatsapp.com/send?phone=543512128443" class="menu-item nav-link"><img src="../../../assets/Imagenes/whatsapp.png" alt="logo-whatsapp" width="45" height="45" class="redes"></a>
        <button type="button" class="menu-item nav-link" id="login" (click)="login()" *ngIf="!isLogged">LOGIN</button>
        <button type="button" class="menu-item nav-link" id="logout" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
      </div>
    </div>
</div>