<div class="container-add">
    <div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h4><b>Ingrese nueva educación</b></h4>
                <div class="form_group">
                    <label for="institucion">Institucion</label>
                    <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="institucion" required maxlength="50">
                </div>
                <div class="form_group">
                    <label for="titulo">Titulo</label>
                    <input id="titulo" type="text" name="titulo" class="form-control" [(ngModel)]="titulo" required maxlength="50">
                </div>
                <div class="form_group">
                    <label for="fecha_inicio">Fecha inicio</label>
                    <input id="fecha_inicio" type="text" name="fecha_inicio" class="form-control" [(ngModel)]="fecha_inicio" required maxlength="45">
                </div>
                <div class="form_group">
                    <label for="fecha_fin">Fecha finalizacion</label>
                    <input id="fecha_fin" type="text" name="fecha_fin" class="form-control" [(ngModel)]="fecha_fin"required maxlength="45">
                </div>
                <div>
                    <button id="btn_aceptar_experiencia" type="submit">Agregar</button>
                    <button id="btn_cancelar_experiencia" type="reset" (click)="closeAdd()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

