
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(175, 145, 245);
    }
  
  h2 {
      padding-top: 20px; 
  }

  h3{
    padding-top: 20px;
    text-decoration: underline;
  }
  
  h3.educacion{
    padding: 0;
  }
 
  p{
      font-size: 18px;
  }

  a {
      text-decoration: none;
  }
  
  img{
    max-width: 100%;
}