
<section id="experiencia">
    <div class="container-fluid">
        <h3><em>EXPERIENCIA LABORAL</em></h3>
        <div class="col-sm-2 col-md-2 col-sm-2" *ngIf="isLogged">
            <button type="button" id="agregar" routerLink="/nuevaexp"><i class="fa-solid fa-plus"></i></button>
        </div>
        <ul>
            <li>
                <app-experiencia *ngFor="let experiencia of experiencias"
                [experiencia]="experiencia"></app-experiencia>

            </li>
        </ul>
    </div>
</section>