
<section id="persona">
    <div class="container-fluid banner">
      <div *ngIf="isLogged">
        <button type="button" class="btn-edit-fondo btn-right" routerLink="/editimg_fondo/{{persona.id}}"><i class="fas fa-pen"></i></button>
      </div>
        <img id="fondo-img"
        [src]="persona.img_fondo" alt="Fondo" width="1450px" height="120%" class="img-fluid">
    </div>

    <div class="container-fluid">
      <div *ngIf="isLogged">
        <button type="button" class="btn-edit-profile btn-right" routerLink="/editimg_perfil/{{persona.id}}"><i class="fas fa-pen"></i></button>
      </div>
        <img id="profile-img"
        [src]="persona.img_perfil" alt="Foto personal" class="img-fluid">
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <h2 class="persona">{{persona.nombre}} {{persona.apellido}}</h2>
          <div>
            <p id="text_carrera">{{persona.titulo}}</p>
            <p id="ubicacion">{{persona.provincia}}, {{persona.pais}}</p>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
          <div *ngIf="isLogged">
            <button type="button" id="btn_edit_carrera" routerLink="/editcarrera/{{persona.id}}">
              <i class="fas fa-pen"></i></button>
          </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7">
          <h3 class="persona">Informacion Profesional</h3>
          <div>
              <p id="text_info_prof">{{persona.info_profesional}}</p>
          </div>            
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
          <div *ngIf="isLogged">
            <button id="btn_edit_info_prof" routerLink="/editinfo_prof/{{persona.id}}">
              <i class="fas fa-pen"></i></button>
          </div>
          <div *ngIf="isLogged">
            <button id="btn_rem_info_prof" routerLink="/reminfo_prof/{{persona.id}}">
              <i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>