h2.persona{
    margin-top: 100px;
    margin-left: 40px;
  }
    #text_carrera,
    #ubicacion{
    margin-left: 40px;
  }
    h3.persona{
    margin-top: 100px;
  }
  
  #btn_edit_info_prof{
    padding-top: 160px;
    border-style:none;
    background:none;
  }

  .persona{
    text-decoration: none;
  }

  #btn_edit_carrera{
    padding-top: 160px;
    border-style:none;
    background:none;
  }

  #btn_rem_info_prof{
    padding-top: 15px;
    border-style:none;
    background:none;
  }

  .banner{
    background-color:rgb(225, 222, 222) ;
  }
 
  @media (min-width:576px){
      #profile-img{
        position: absolute;
        border-radius: 100%;
        width: 180px;  
        height: 200px;
        margin-left: 20px;
        margin-top: -100px;
        z-index: 1;
      }
      .btn-edit-profile{
        position: relative;
        top: 70px;
        left: 195px;
        background: none;
        padding: 8px;
        border-radius: 50px;
        border-style: none;
      }
      .btn-edit-fondo{
        position: relative;
        top: 60px;
        left: 500px;
        background: none;
        padding: 8px;
        border-radius: 50px;
        border-style: none;
        background-color: rgb(175, 145, 245);
      }
      h2.persona{
        margin-top: 100px;
        margin-left: 1px;
      }
      #text_carrera,
       #ubicacion{
        margin-left: 1px;
    }
   }
  
    @media(max-width:576px){
     #profile-img {
        position: absolute;
        border-radius: 100%;
        width: 100px;  
        height: 110px;
        margin-left: 20px;
        margin-top: -70px;
        z-index: 1;
    }
      #fondo-img{
        width:110%;
        height:300px;
      }
    .btn-edit-profile{
      position: relative;
      top: 30px;
      left: 120px;
      background: none;
      padding: 8px;
      border-radius: 50px;
      width: 5%;
      border-style: none;
    }
    .btn-edit-fondo{
      position: relative;
      top: 50px;
      left: 400px;
      background: none;
      padding: 8px;
      border-radius: 50px;
      border-style: none;
      background-color: rgb(175, 145, 245);
    }

    h2.persona{
      margin-top: 60px;
      margin-left: 20px;
    }
    #text_carrera,
    #ubicacion{
      margin-left: 20px;
    }
    
    #btn_edit_carrera{
      margin-top: -800px;
      margin-left: 100px;
      border-style:none;
      background:none;
    }
    h3.persona{
      margin-top: 30px;
    }
    #btn_edit_info_prof{
      margin-top: -600px;
      margin-left: 100px;
      border-style:none;
      background:none;
    }
    #btn_rem_info_prof{
      margin-top: -600px;
      margin-left: 100px;
      border-style:none;
      background:none;
    }
        .persona{
      text-decoration: none;
    }
  }
  @media (min-width:768px){
    .btn-edit-fondo{
      position: relative;
      top: 50px;
      left: 630px;
      background: none;
      padding: 8px;
      border-radius: 50px;
      border-style: none;
      background-color: rgb(175, 145, 245);
    }
  }
  @media (min-width:992px){
    .btn-edit-fondo{
      position: relative;
      top: 50px;
      left: 880px;
      background: none;
      padding: 8px;
      border-radius: 50px;
      border-style: none;
      background-color: rgb(175, 145, 245);
    }
  }
  @media (min-width:1200px){
    .btn-edit-fondo{
      position: relative;
      top: 50px;
      left: 1050px;
      background: none;
      padding: 8px;
      border-radius: 50px;
      border-style: none;
      background-color: rgb(175, 145, 245);
    }
  }