
<div class="row proyecto">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <h4>{{proyecto.nombre}}</h4>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p class="text_periodo">{{proyecto.fecha_realizacion}}</p>
      <p class="text_proyecto">{{proyecto.descripcion}}</p>
      <p class="text_link">{{proyecto.link}}</p>
    </div>
    <div class="col-sm-12 col-md-4 offset col-lg-4">
      <img 
      [src]="proyecto.img_proyecto" alt="proyecto integrador" class="img-fluid img-proyecto">
    </div>
  </div>