
<circle-progress
[percent]="habilidad.porcentaje"
[radius]="100"
[title]="habilidad.nombre"
[titleFontSize]="'15px'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="3"
[backgroundPadding]="-20"
[backgroundGradient]="true"
[backgroundOpacity]="1"
[backgroundColor]="'#ffffff'"
[backgroundGradientStopColor] = "'#ea7676'"
[backgroundStroke]="'transparent'"
[outerStrokeColor]="'#61A9DC'"
[innerStrokeColor]="'##ea7676'"
[animation]="true"
[animationDuration]="500"
></circle-progress>