
<div class="container-fluid">
    <div class="container-form">
      <div class="row">
        <div>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

          <h2 class="inicio-sesion">Inicia Sesion</h2>

          <div class="mb-3 form-group">
            <label for="nombreUsuario" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required minlength="6" maxlength="12" autofocus>
          </div>
          <div class="mb-3 form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required minlength="6" maxlength="12">
          </div>

          <div class="mb-3 form-button">
            <button type="submit" id="btn_enviar" class="button">Iniciar</button>
          </div>
      </form>  
    </div>
  </div>
</div>