.container-fluid{
    display: flex;
    background-color: rgb(175, 145, 245);
    align-items: center;
    justify-content: center;
    position:fixed;
    pointer-events:all;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

  .container-form{
    background-color: rgb(175, 145, 245);
    opacity: 0.7;
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
    padding: 30px 50px;

  }
  
  input{
    margin-top: 5px;
    margin-bottom: 15px;
    height: 30px;

  }
    .form-button{
      height: 45px;
      margin-top:  45px;
      margin-left: 2px;
    }
    
    .button{
      width: 100%;
      cursor: pointer;
      background: rgb(214, 199, 246) ;
      border-radius: 5px;
      border-style: none;
      padding: 6px;
    }
    
    form h2 {
      padding: 20px;
      border-bottom: 1px solid;
      text-align: center;
    }